<div>

    <div class="box">
        <div class="position-input">
            <button type="button" class="btn btn-block btn-success add" id="position-add">
                +添加
            </button>

            <div class="box-tools search">
                <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                    <input id="search-txt" type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="position-search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 10px">logo</th>
                        <th>公司名称</th>
                        <th>城市</th>
                        <th>职位信息</th>
                        <th style="width: 70px">薪水</th>
                        <th style="width: 100px">时间</th>
                        <th style="width: 140px">操作</th>
                    </tr>
                    {{#each list}}
                    <tr>
                        <td>
                            <img src="/upload/{{companyLogo}}" style="width:60px" alt=" ">
                        </td>
                        <td>{{companyName}}</td>
                        <td>{{city}}</td>
                        <td>{{positionName}}</td>
                        <td>{{salary}}</td>
                        <td>{{createTime}}</td>
                        <td>
                            <button type="button" class="btn btn-success edit" data-id={{_id}}>编辑</button>
                            <button type="button" class="btn btn-danger del" data-id={{_id}}>删除</button>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix ">
            <ul class="pagination pagination-sm no-margin pull-right ">
                <li><a href="#/position/index?pagesize={{pagesize}}&pageno=1&keyword={{keyword}}&sortname={{sortname}}&sort={{sort}}">«</a></li>
                {{#each pages}}
                <!-- handlebars规范： each中拿循环外的数据得加 ../  -->
                <li data-id="{{this}}"><a href="#/position/index?pagesize={{../pagesize}}&pageno={{this}}&keyword={{../keyword}}&sortname={{../sortname}}&sort={{../sort}}">{{this}}</a></li>
                {{/each}}
                <li><a href="#/position/index?pagesize={{pagesize}}&pageno={{pages.length}}&keyword={{keyword}}&sortname={{sortname}}&sort={{sort}}">»</a></li>
            </ul>
        </div>
    </div>
</div>